@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

/* .App {
  min-height: 100vh;
  /* display: flex; */
/* background-image: url("./back.avif"); */
/* background-size: cover;
  background-position: center;
  color: "black";
} */

/* .App {
  background-image: url("./back.avif");
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-color: #f8f8f8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
} */
