@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
body {
  margin: 0;
}
.App {
  min-height: 100vh;
  /* display: flex; */
  /* background-image: url("./img.jpeg"); */
  /* background-image: url("./back.avif"); */
  background-size: cover;
  background-color: #d4e7c5;

  margin: 0;
}

/* .App {
  background-image: url("./back.avif");
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  background-color: #f8f8f8;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
} */
